<div class="container">
    <div class="row">
        <div class="well hoverwell thumbnail">
            <div class="getDetails">
                <div>{{log(details)}} </div>
                <h3>
                    <a href="{{details?.owner.html_url}}"><img src="{{details?.owner.avatar_url}}" style="width:100px;height:70px"></a>
                    Username: {{details?.owner.login}}
                </h3>
            </div>
            <hr/>
            <div><h2><b>Details</b></h2></div>
            <div>Name of Repo: {{details?.name}}</div>
            <div>Language: {{details?.language}}</div>
            <div>Watchers: {{details?.watchers}}</div>
            <div>Subscribers: {{details?.subscribers_count}}</div>
            <div>Forks: {{details?.forks_count}}</div>
            <div><a href="{{details?.html_url}}">Click here to go to the repo</a></div>
        </div>
    </div>
</div>
